* {
  margin: 0px;
}
body {
  /* background: #9053c7;
    background: linear-gradient(-135deg, #c850c0, #4158d0); */
  background-image: url(https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=740&t=st=1660394590~exp=1660395190~hmac=c878727e73efc378d53291f03357d54da2f8a4c6f522f83465d4a7925c0728c1);
  /* background-repeat: no-repeat;
  background-size: cover; */
}
.main-login {
  width: 58%;
  height: 499px;
  background-color: rgb(255, 255, 255, 0.8);
  margin-left: 271px;
  margin-top: 67px;
  border-radius: 10px;
  display: flex;
}
.register {
  height: 499px;
  background-color: rgb(255, 255, 255, 0.7);
  width: 50%;
  display: inline-block;
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 2px solid rgb(128, 128, 128, 0.5);
}
.login {
  height: 499px;
  background-color: rgb(255, 255, 255, 0.7);
  width: 50%;
  /* display: inline-block; */
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.register-heading {
  margin: 0 auto;
  font-family: sans-serif;
  margin-left: 140px;
  margin-top: 48px;
}

.border-top {
  border-top: 2px solid rgb(128, 128, 128, 0.4);
  width: 33%;
  margin-left: 129px;
  margin-top: 6px;
}
.border-top-login {
  border-top: 2px solid rgb(128, 128, 128, 0.4);
  width: 33%;
  margin-left: 117px;
  margin-top: 6px;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  height: 27px;
  width: 100%;
  margin-top: 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(128, 128, 128, 0.4);
  background-color: rgb(255, 255, 255, 0.1);
}
input:focus {
  border-bottom: 1px solid black;
}
button {
  display: block;
  height: 47px;
  width: 100%;
  margin-top: 25px;
  border-radius: 32px;
  font-size: 18px;
  background-color: #469946;
  color: white;
  border: none;
}
button:hover {
  background-color: #57b846;
}
.login-form {
  width: 70%;
  margin-left: 53px;
}









/* dashboard css */
.db-main {
  width: 58%;
  height: 360px;
  background-color: rgb(255, 255, 255, 0.8);
  margin-left: 156px;
  margin-top: 67px;
  border-radius: 10px;
}
h4 {
  margin-left: 90px;
}
.task-name {
  padding-top: 47px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 35px;
}

.main-login-db {
  width: 58%;
  height: auto;
  background-color: rgb(255, 255, 255, 0.8);
  margin-left: 271px;
  margin-top: 119px;
  
  border-radius: 10px;
  /* display: flex; */
}
.start-quiz-button{
  width: 109px;
  margin-top: 15px;
  margin-bottom: 12px;
  border-radius: 10px;
}

/* collaspe */

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: height 200ms;
}
#radio1, #radio2, #radio3, #radio4{
  height: 15px;
  width: 3%;
  /* margin-top: 0px; */
  margin-right: 5px;
  /* display: block; */
}
.opt-text, .css-opt-text, .js-opt-text{
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
}
.question, .css-question, .js-question{
    padding-top: 20px;
    padding-bottom: 1px;
    padding-left: 25px;
    height: 341px;

}
.question > p, .css-question > p, .js-question > p{
    font-size: 28px;
}
.next-btn{
  width: 100px;
  position: relative;
  left: 582px;
  margin-bottom: 19px;
}




/* ====== result card ======= */
.result-card{
  margin: 0 auto;
  height: 200px;
  /* background-color: #555; */
  border: 2px solid rgba(0,0,0,.2);
  width: 50%;
  margin-top: 35px;
}
.result-card-h2{
  margin: 0 auto;
  width: 77%;
  margin-top: 5px;

}
.result-card-h1{
  margin: 0 auto;
  width: 34%;
  margin-top: 58px;
}
.result-card-h1-passed{
  margin: 0 auto;
  width: 34%;
  margin-top: 58px;
  color: #469946;
}
.result-card-h1-fail{
  margin: 0 auto;
  width: 34%;
  margin-top: 58px;
  color: red;
}
.login-a {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}
.credential1{
  margin: 0 auto;
  width: 56%;
  margin-top: 23px;
  color: red;
  border: black solid 1px;
}
.countdown{
  position: relative;
  left: 610px;
  font-size: 24px;
}
